<ul class="nav nav-pills">
  <li class="active"><a href="#">Home</a></li>
  <li class="active"><a href="catalogos">Catalogo</a></li>
  <li class="active"><a href="#">Contacto</a></li>
  <li class="active"><a href="productos">Producto</a></li>
  <li class="active"><a href="datos_del_clientes">Datos del cliente</a></li>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      Ofertas <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
     <li><a href="#" class="list-group-item list-group-item-success">10 %</a></li>
      <li class="divider"></li>
      <li><a href="#" class="list-group-item list-group-item-warning">20 %</a></li>
      <li class="divider"></li>
      <li><a href="#" class="list-group-item list-group-item-danger">35 %</a></li>
    </ul>
  </li>
</ul>
